:root {
  --color-primary: #b31312;
  --color-primary-dark: #ba000d;
  --color-primary-light: #ff7961;
  --color-secondary: #ea906c;
  --white: #fff;
  --white-alt: #eee2de;
  --black: #000;
  --black-alt: #2b2a4c;
  --menu-selected: #283038;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-alt);
}

.nav {
  background-color: var(--color-primary);

  --img1: scale(1);
  --img2: scale(0);
}

.nav:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);
  --clip: inset(0 0 0 0);
}

@media (max-width: 720px) {
  .nav_container {
    width: 100vw;
    margin: 0 auto;
    height: 10vh;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    font-family: "Rubik", sans-serif;
    font-size: 1.2em;
  }

  .nav_title {
    color: var(--white);
    grid-area: title;
    font-weight: 700;
    margin-left: 24px;
  }

  .nav_menu {
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
  }

  .nav_menu--second {
    transform: var(--img2);
  }

  .nav_icon {
    width: 2.5em;
    display: block;
  }

  /* Dropdown */

  .dropdown {
    position: absolute;
    background-color: var(--black-alt);
    width: 100%;
    max-width: 720px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: grid;
    align-content: start;
    justify-content: center;
    gap: 1rem;

    overflow-y: auto;

    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path 0.5s;
  }

  .dropdown_icon {
    width: 2.5em;
  }

  .dropdown_list {
    list-style: none;
  }

  .dropdown_link {
    color: var(--color-secondary);
    padding: 1em, 7em;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.6em;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 8px;
    margin: 20px;
  }

  .dropdown_list:has(:checked) {
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: var(--black-alt);
  }

  .dropdown_check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .dropdown_arrow {
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: 0.2s transform;
  }

  .dropdown_content {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.3s grid-template-rows;
  }

  .dropdown_sub {
    overflow: hidden;
  }

  .dropdown_li {
    width: 85%;
    list-style: none;
    margin-left: auto;
  }

  .dropdown_anchor {
    padding: 1em 0;
    display: block;
    color: var(--color-secondary);
    text-decoration: none;
  }
}
